# Node / Web dependencies & build
node_modules/
dist/
dist-ssr/
*.local
.env
.env*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Android & Gradle
*.iml
.gradle/
.kotlin/
/build/
app/build/
build/
/captures/
.externalNativeBuild/
.cxx/
local.properties
/local.properties
debug.keystore
*.keystore
*.jks

# IDE & OS
.idea/
.DS_Store
Thumbs.db
